* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* question style start */
#question-container {
    display: none;
}

/* game over style start */
#game-over-screen {
    display: none;
}

/* high scores screen style start */
#high-scores-screen {
    display: none;
}